version: "1"
aws_account_id: ""
use_main_aws_credentials: true
use_main_vcs_credentials: true
workspace:
  workspace_name: ""
  workspace_description: ""
  auto_apply: False
  working_directory: ""
  terraform_version: "0.14.0"
  vcs_repo:
    identifier: ""
    branch: ""
    oauth_token_id: ""
  trigger_prefixes:
    - "/modules"
  variables:
    default:
      - key: "region"
        description: "The default region for the application / deployment"
        value: eu-west-1|af-south-1
      - key: "environment"
        description: "Will this deploy a development (dev) or production (prod) environment"
        value: dev|prod
      - key: "code_repo"
        description: "Points to the source code used to deploy the resources {{repo}} [{{branch}}]"
        value: "{{repo}} [{{branch}}]"
      - key: "namespace"
        description: "Used to identify which part of the application these resources belong to (auth, infra, api, web, data)"
        value: auth|infra|api|web|data 
      - key: "application_name"
        description: "Used in naming conventions, expecting an object"
        value: '{"short" = "", "long" = "" }'
        hcl: true
      - key: "nukeable"
        description: "Can these resources be cleaned up. Will be ignored for prod environments"
        value: true
      - key: "client_name"
        description: "Used in naming conventions, expecting an object"
        value: '{"short" = "", "long" = "" }'
        hcl: true
      - key: "purpose"
        description: "Used for cost allocation purposes"
        value: rnd|client|product
      - key: "owner"
        description: "Used to find resources owners, expects an email address"
        value: ""
    terraform: 
      - key: "key"
        value: "value"
        description: ""
        sensitive: true | false
        hcl: true | false
    environment: 
      - key: "key"
        value: "value"
        description: ""
        sensitive: true | false